@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://api.fontshare.com/v2/css?f[]=clash-display@700,600,500,400,300&display=swap");

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}
